section.fix-container
	.about
		.__col._1
		.__col._2
			- var section = data.about;
			- var img = data.about.img;
			.img-row
				.img-cell
					img.section-img(src=img.src alt=img.alt title=img.title)
			span.on-title
				| #{section.onTitle}
			h2.title
				| #{section.title}
			p.descr
				| #{section.descr}
